@import "~bootstrap/scss/bootstrap";

*:not(iframe) {
    font-size: 10pt;
    font-family: "IBM Plex Sans", "Open Sans", sans-serif;
}

iframe {
    display: block;
    border: none;
    height: calc(100vh - 30px);
    width: 100%;
}

.log {
    height: 480px;
}

.table-striped {
    vertical-align: middle;
}

