{% extends 'base.html.twig' %}

{% block title %}Records{% endblock %}

{% block body %}
<div {{ stimulus_controller('records-list') }}>
<div class="form-group py-2">
    <select data-records-list-target="botId" class="form-control">
        <option value="" selected disabled>Select a robot</option>
    </select>
</div>
<div class="form-group py-2">
    <select data-records-list-target="launchId" class="form-control visually-hidden">
        <option value="" selected disabled>Select a launch</option>
    </select>
</div>

</div>
{% endblock %}
