{% extends 'base.html.twig' %}

{% block title %}Graphs{% endblock %}

{% block body %}

<form action="{{ path('app_robot_graphs', { botId: bot_id }) }}" method="GET">
    <label for="weekly">Last Week</label>
    <input onclick="this.form.submit()" type="radio" id="weekly" name="frequency" value="weekly" {% if frequency == "weekly" %}checked{% endif %}>
    <label for="monthly">Last Month</label>
    <input onclick="this.form.submit()" type="radio" id="monthly" name="frequency" value="monthly" {% if frequency == "monthly" %}checked{% endif %}>
</form>

{{ render_chart(chart) }}
{% endblock %}
