{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block body %}
<div {{ stimulus_controller('dashboard') }}>
    <div data-dashboard-target='content'>
    
    </div>
</div>
{% endblock %}
